<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thêm thể loại</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Thêm thể loại</h1>
    <form th:action="@{/categories/add}" th:object="${category}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" th:field="*{name}" class="form-control" id="name" required>
        </div>
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
    <br>
    <a th:href="@{/categories}">Back to List</a>
</div>
</body>
</html>
