<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sửa thể loại</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Sửa thể loại</h1>
    <form th:action="@{/categories/edit}" th:object="${category}" method="post">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
    </form>
    <a href="/categories" class="btn btn-secondary mt-3">Back to List</a>
</div>
</body>
</html>
